{% extends "base.html" %}

{% block content %}
<h2>New Post</h2>
    <form action="/newpost" method="POST">
        <label class="form_label" >
            Title:
            <input id="blog_title" type="text" name="blog_title" value="{{blog_title}}" />
        </label>
        <p class="error">{{title_error}}</p>
        <br>
        <label class="form_label" >
            Post:
            <textarea id="blog_post" name="blog_post" rows="10" cols="100" value="{{blog_post}}">{{blog_post}}</textarea>
        </label>
        <p class="error">{{blog_post_error}}</p>
        <br>
        <input class="submit" type="submit" />
        
    </form>    
{% endblock %}



